#first-line{
    color: black;
}
h4{
    color: black;
}
#top-area{
    background-color: brown;
}
p{
    color:black;
    font-size: large;
}
a{
    color:blue;
    font-size:large;
}
a:hover{
    color:black;
}